@import "framework.css";
@import "select-dropdown.css";
@import "../../node_modules/notie/dist/notie.css";

body {
    background: #59ABE3;
}
header {
  padding:1em 0 2em 0;
  background:#4183D7;
  margin-bottom:1em
}
.search-section {
    width: 69%;
    margin: 0 auto;
}
.search-section input {
    width: 100%;
    color: #fff;
    padding: 8px;
    font-size: 2em;
    border-radius: 3px;
    border: 0;
    background: #59ABE3;
}
.search-section h1 {
    color: #fff;
    font-weight: normal;
    font-size: 3.5em;
    padding: 0 10em .1em 0;
    margin: 0;
    background-size: .5em;
    background-repeat: no-repeat;
    background-position: 2.2em 30%;
}
main {

}
main section {
  width: 69%;
  margin: 20px auto;
  font-size: 1.2em;
  line-height: 1.4em;
  color: #000;
  background: #fff;
  padding: .5em;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
}
